
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.body{
  margin: 0;
}
.genel{
  display: flex;
  flex-direction: column;
}
/*header*/
.header{
  display: flex;
  padding: 150px;
  font-family: 'Montserrat';
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  width: 1440px;
  height: 657px;
}
.header p{
  width: 254px;
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  margin: 120px 1031px 12px 155px;
}
.header h2{
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
  margin: 12px 411px 45.5px 155px;
  letter-spacing: -0.7px;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 13.5px;
  justify-content: flex-start;
  margin: 40px 1077px 1290px 155px;
}
/*container*/
.genel{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.container{
  border-radius: 12px;
  padding: 24px;
  gap: 10px;
  margin-top:157px;
  display: flex;
  flex-direction: column;
}
.text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-left: 165px;
}
.text p{
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: -0.35px;
  text-decoration: none;
  margin: 0;
}
.container h3{
  font-family:'Montserrat';
  font-size: 30px;
  line-height: 37px;
  color: #212121;
  font-weight: 700;
  margin-top: 24px;
}
.container p{
  font-family:'Open Sans';
  font-weight: 400;
  width: 669px;
  height: 84px;
  size: 16px;
  line-height: 28px;
  margin-top: 12px;
  margin-bottom: 64px;
}
.container img {
  width: 1062px;
  height: 468px;
}
.img-border{
  border: 1px solid rgba(0, 0, 0, 0.322);
  padding: 10px;
  align-self: stretch;
  border-radius: 12px;
  margin: 80px 165px 40px 165px;
}
a{
  text-decoration: none;
  font-family:'Montserrat';
  font-size: 14px;
  line-height: 24px;
  color: #212121;
  font-weight: 600;
}
/*footer*/
.last{
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 609px;
}
.last-left p{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 12px 576px 45.5px 165px;
}
.last-left h2{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
  margin: 16px 96px 251px 165px;
  letter-spacing: -0.7px;
  width: 569px;
  height: 192px;
}
.link{
  color: #0D6EFD;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  display: flex;
}
.last-left .right{
  flex-direction: row;
  display:inline;
  height: auto;
  width: 500px;
  margin: 0;
  gap: 100px;
  margin-top: 50px;
  }

label{
  display: flex;
  margin-bottom: 5px;
  
  }
button[type="submit"] {
  padding: 8px 47px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius:2%;
  gap: 10px;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  border-color: #212121;
  }
footer{
  display: flex;
  justify-content: center;
  }

.form {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  justify-content: center;
  flex-direction: column;
  }
  .form-table{
  border: 1px rgba(255, 255, 255, 0.151);
  margin-left: 0px;
  margin-right: 165px;
  gap: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  }
